<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/tei.css" />
    <link rel="stylesheet" href="/main.css">
    <title><%= @title %></title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
