<%= @act.html %>

<section id="comments">
  <form action="<%= url("/plays/#{@play.slug}/act/#{@act.number}/comments") %>" charset="utf-8" method="POST">
    <textarea name="comment-body"></textarea>
    <p><input type="submit" value="Add comment"></p>
  </form>

  <% @comments.each do |comment| %>
    <div class="comment">
      <%= comment.body %>
    </div>
  <% end %>
</section>
